body {
    background-color: #DAC8B3;
}

nav {
    font-size: 20px;
    text-align: right;
}

.Home {
    color: #5C4033;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.Home:hover {
    opacity: 0.7;
}

.abtme {
    color: #5C4033;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.abtme:hover {
    opacity: 0.7;
}

.fundoWOD {
    border-radius: 40px;
    width: 330px;
    height: 600px;
    background-color: #5C4033;
    position: absolute;
    top: 110px;
    left: 150px;
    box-shadow: 3px 3px 9px rgba(81, 27, 2, 0.691);
}

.WOD {
    font-family: DejaVu Sans Mono, monospace;
    position: absolute;
        top: 30px;
        left: 40px;
    font-size: 28px;
    color: #DAC8B3;
}

.WODdes {
    font-family: DejaVu Sans Mono, monospace;
    text-align: center;
    position: absolute;
        top: 120px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    line-height: 25px;
}

.WODlink {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
        top: 490px;
        left: 60px;
    color: black;
    font-size: 20px;
}

.fundoIC {
    border-radius: 40px;
    width: 330px;
    height: 600px;
    background-color: #5C4033;
    position: absolute;
        top: 110px;
        left: 540px;
    box-shadow: 3px 3px 9px rgba(81, 27, 2, 0.691);
}

.IC {
    font-family: DejaVu Sans Mono, monospace;
    position: absolute;
        top: 30px;
        left: 14px;
    font-size: 25px;
    text-align: center;
    color: #DAC8B3;
}

.ICdes {
    font-family: DejaVu Sans Mono, monospace;
    text-align: center;
    position: absolute;
        top: 120px;
    padding-left: 28px;
    padding-right: 28px;
    font-size: 18.5px;
    line-height: 25px;
}

.IClink {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
        top: 490px;
        left: 70px;
    color: black;
    font-size: 20px;
}

.fundoSINFONORA {
    border-radius: 40px;
    width: 330px;
    height: 600px;
    background-color: #5C4033;
    position: absolute;
        top: 110px;
        left: 930px;
    box-shadow: 3px 3px 9px rgba(81, 27, 2, 0.691);
}

.SINFONORA {
    font-family: DejaVu Sans Mono, monospace;
    position: absolute;
        top: 30px;
        left: 63px;
    font-size: 25px;
    color: #DAC8B3;
}

.SINFONORAdes {
    font-family: DejaVu Sans Mono, monospace;
    text-align: center;
    position: absolute;
        top: 120px;
    padding-left: 28px;
    padding-right: 28px;
    font-size: 20px;
    line-height: 25px;
}

.SINFONORAlink {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
        top: 490px;
        left: 85px;
    color: black;
    font-size: 20px;
}
